.ui.menu.top-menu {
    border: none; /*Remove Semantic UI's bottom border*/
    .logo {
      width: 9rem;
    }
    .nav-container {
      justify-content: space-between; /*maximize whitespace between elements*/
      flex-grow: 1; /* take available space in the flex container */
      padding: 0;
    }
  }

  .nav-container {
    flex-grow: 1;
    padding: 0;
  
    .search-input {
      padding-left: 0;
      width: 33%;
  
      form {
        width: 100%;
      }
    }
  }
  .ui.menu.top-menu {
    border: none;
  
    .header-icon {
      color: #c7c7c7;
    }
  }